<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>Adieresis</key>
	<string>A_dieresis.glif</string>
	<key>Amacron</key>
	<string>A_macron.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.ss01</key>
	<string>B_.ss01.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.ss01</key>
	<string>D_.ss01.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Emacron</key>
	<string>E_macron.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.ss01</key>
	<string>H_.ss01.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Imacron</key>
	<string>I_macron.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.ss01</key>
	<string>K_.ss01.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.ss01</key>
	<string>L_.ss01.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>Odieresis</key>
	<string>O_dieresis.glif</string>
	<key>Omacron</key>
	<string>O_macron.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Udieresis</key>
	<string>U_dieresis.glif</string>
	<key>Umacron</key>
	<string>U_macron.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adieresis.hist</key>
	<string>adieresis.hist.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>b.ss01</key>
	<string>b.ss01.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>colon.hist</key>
	<string>colon.hist.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>comma.hist</key>
	<string>comma.hist.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>d.ss01</key>
	<string>d.ss01.glif</string>
	<key>dotlessi</key>
	<string>dotlessi.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.hist</key>
	<string>eight.hist.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.asc</key>
	<string>f.asc.glif</string>
	<key>f_adieresis</key>
	<string>f_adieresis.glif</string>
	<key>f_adieresis.hist</key>
	<string>f_adieresis.hist.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f.asc</key>
	<string>f_f.asc.glif</string>
	<key>f_l.ss01</key>
	<string>f_l.ss01.glif</string>
	<key>f_odieresis</key>
	<string>f_odieresis.glif</string>
	<key>f_odieresis.hist</key>
	<string>f_odieresis.hist.glif</string>
	<key>f_udieresis</key>
	<string>f_udieresis.glif</string>
	<key>f_udieresis.hist</key>
	<string>f_udieresis.hist.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.hist</key>
	<string>five.hist.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.hist</key>
	<string>four.hist.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.hist</key>
	<string>germandbls.hist.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>h.ss01</key>
	<string>h.ss01.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>i.hist</key>
	<string>i.hist.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.hist</key>
	<string>j.hist.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>k.ss01</key>
	<string>k.ss01.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.ss01</key>
	<string>l.ss01.glif</string>
	<key>longs</key>
	<string>longs.glif</string>
	<key>longs.asc</key>
	<string>longs.asc.glif</string>
	<key>longs_l.ss01</key>
	<string>longs_l.ss01.glif</string>
	<key>longs_longs</key>
	<string>longs_longs.glif</string>
	<key>longs_longs.asc</key>
	<string>longs_longs.asc.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.hist</key>
	<string>nine.hist.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>odieresis.hist</key>
	<string>odieresis.hist.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.hist</key>
	<string>one.hist.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>period.hist</key>
	<string>period.hist.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>question.hist</key>
	<string>question.hist.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>roman.null</key>
	<string>roman.null.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>semicolon.hist</key>
	<string>semicolon.hist.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.hist</key>
	<string>seven.hist.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.hist</key>
	<string>six.hist.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>t_i</key>
	<string>t_i.glif</string>
	<key>t_t</key>
	<string>t_t.glif</string>
	<key>t_u</key>
	<string>t_u.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.hist</key>
	<string>three.hist.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.hist</key>
	<string>two.hist.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udieresis.hist</key>
	<string>udieresis.hist.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>uni00A0</key>
	<string>uni00A_0.glif</string>
	<key>uni0304</key>
	<string>uni0304.glif</string>
	<key>uni204F</key>
	<string>uni204F_.glif</string>
	<key>uni2E4E</key>
	<string>uni2E_4E_.glif</string>
	<key>uniA752</key>
	<string>uniA_752.glif</string>
	<key>uniA753</key>
	<string>uniA_753.glif</string>
	<key>uniF1E7</key>
	<string>uniF_1E_7.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>v.hist</key>
	<string>v.hist.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.hist</key>
	<string>w.hist.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.hist</key>
	<string>zero.hist.glif</string>
</dict>
</plist>
